.component-button {
  display: inline-flex;
  width: 25%;
  flex: 1 0 auto;
}

.component-button.wide {
  width: 50%;
}

.component-button button {
  background-color: #6672d4;
  border: 0;
  border-radius: 25%;
  font-size: 1.5rem;
  margin: 11px;
  flex: 1 0 auto;
  padding: 0;
}

.component-button:last-child button {
  margin-right: 0;
}

.component-button.orange button {
  background-color: #ec9ce9;
  color: white;
}
